<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated grafcet -->
      <package
            uri="http:///grafcet.ecore"
            class="com.vogella.emf.Grafcet.model.grafcet.GrafcetPackage"
            genModel="model/grafcet.genmodel"/>
   </extension>

</plugin>
